.header {
    padding: 5px;
    background: #EBE0E9;
}

.nav {
    margin: 20px;
    font-family: "Calibri";
    text-align: center;
}


.nav a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0px 20px 0px 20px;
    transition-duration: 0.3s;
    border-radius: 5px;
}

.nav a:hover {
    background-color: #548bf4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}