.wrapper {
    width: 1200px;
    margin: 0 auto 20px auto;
    background-color: white;
    border-radius: 10px;
    min-height: 70vh;
}
.container {
    background-color: #ECECF9;
    padding: 0 20px;
}

.row {
    display: flex;
    height: 100%;
}

.tableWrapper {
    margin: 0 10px;
}

.link {

}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px ;
}

.table tr:nth-child(even){background-color: #F8F7FD;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ECECF9;
    color: #2D2E46;
}

.table th {
    text-align: left;
}

.table td {
    min-width: 240px;
}

.sortWrapper {
    position: relative;
}

.sort {
    position: absolute;
    left: 55px;
    top: 22px;
}

.paginator {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

@media screen  and (max-width: 1286px){
    .table td {
        min-width: 180px;
    }

    .wrapper {
        width: 1000px;
    }
}

@media screen  and (max-width: 946px){
    .table td {
        min-width: 145px;
    }


    .wrapper {
        /*width: 500px;*/
    }
}

