.container {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.star {
    display: flex;
    width: 18px;
    margin-right: 2px;
    color: #b2b2b2;
    fill: yellow;
}

.overlay {
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #ffffff;
    opacity: 1;
}