.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    min-height: 70vh;
}

.link {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-decoration: none;
    color: #000;
    margin-right: 15px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    transition: .4s;
}

.table tr:nth-child(even){background-color: #F8F7FD;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ECECF9;
    color: #2D2E46;
}

.table th {
    text-align: left;
}

.table td {
    min-width: 300px;
    height: 40px;
    min-height: 40px;
}

.emptyPackWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.emptyPackWrapper p {
    opacity: .5;
}

.paginator {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.header {
    display: flex;
    margin-bottom: 20px;
}

.search {
    margin: 0;
}

@media screen  and (max-width: 1286px){
    .table td {
        min-width: 180px;
    }

    .wrapper {
        width: 900px;
    }
}

@media screen  and (max-width: 946px){
    .table td {
        min-width: 145px;
    }

    .wrapper {
        width: 600px;
    }
}